
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<br />
<br />
<button class="btn btn-primary" id="btn1">Sweat Alert</button>


<script>
    $('#btn1').click(function () {
        Swal.fire({
            title: 'Değişiklikleri kaydetmek istiyor musunuz?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Evet',
            denyButtonText: 'Hayır',
            cancelButtonText: 'Çıkış',
            customClass: {
                actions: 'my-actions',
                cancelButton: 'order-3',
                confirmButton: 'order-2',
                denyButton: 'order-1 right-gap',
            }
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire('Kaydedildi!', '', 'success')
            } else if (result.isDenied) {
                Swal.fire('Değişiklikler kaydedilmedi', '', 'info')
            } else if (result.isCancelled) {
                Swal.fire('Çıkış yapıldı', '', 'warning')
            }
        })
    });
</script>

