@model MVC_Ticari_Otomasyon.Models.Siniflar.Kategori
@{ ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml"; }

<script src="~/Scripts/jquery-3.4.1.js"></script>


<br />
<h2>Kategori Ekleme Sayfası</h2>
<br />



<form class="form-group" method="post">

    @Html.LabelFor(x => x.KategoriAdi)
    @Html.TextBoxFor(x => x.KategoriAdi, new { @class = "form-control"@*, @id = "txtKategoriAdi"*@})
    <br />

    @Html.LabelFor(x => x.KategoriKapasitesi)
    @Html.TextBoxFor(x => x.KategoriAdi, new { @class = "form-control", @type="number"@*, @id = "txtKategoriAdi"*@})
    <br />

    <button class="btn btn-success" id="kayitBasarili" @*id="btnSave*@>Kaydet</button>
    <a href="/Kategori/KategorileriListele" class="btn btn-info" style="background-color:darkcyan; color:aliceblue;">Kategori Listesi</a>
</form>

<script>
    $('#kayitBasarili').click(function () {
        alert("Kategori başarılı bir şekilde eklendi.")
    });
</script>


@*<script type="text/javascript">
        $(function () {
            $("#toastrCreate").click(function () {
                toastr.success("Ekleme İşlemi Başarılı", "Başarılı!");
            });

            $("#toastrUpdate").click(function () {
                toastr.success("Güncelleme İşlemi Başarılı", "Başarılı!");
            });
        })
    </script>*@


@*<script type="text/javascript">
        $(document).ready(function () {
            $('#btnSave').click(function () {
                SaveinDatabase("Kategori/KategoriEkle");
            });

            function SaveinDatabase(path) {
                var kategoriAdi = $("txtKategoriAdi").val();

                //if (kategoriAdi == "") {
                //    toastr.error("Kategori Adı Boş Bırakılamaz", "Uyarı!", { timeout: 3000 });
                //}
                //else {
                var parametre = { KategoriAdi: kategoriAdi };
                $.ajax({
                    async: true,
                    type: 'POST',
                    dataType: 'JSON',
                    contentType: 'application/json;charset-utf-8',
                    data: JSON.stringify(parametre),
                    url: "",
                    success: function (response) {
                        if (response.success == true) {
                            toastr.success(response.message, 'Ekleme İşlemi Başarılı', { timeOut: 3000 });
                        }
                        else {
                            toastr.info(response.message, 'Bilgilendirme', { timeOut: 3000 });
                        }
                    },
                    error: function () {
                        toastr.error(response.message, "Hata!!!", 'Uyarı' { timeOut: 3000 });
                    }
                });

            }

        });
    </script>*@