@using MVC_Ticari_Otomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Siparislerim";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<br />
<h2>Sipariş Geçmişim</h2>
<br />
@using (Html.BeginForm("Siparislerim", "CariPanel", FormMethod.Post))
{
    <table class="table table-hover table-bordered">
        <tr>
            <th style="display:table table-cell; vertical-align:middle;" class="text-center">Ürün Adı</th>
            <th style="display:table table-cell; vertical-align:middle;" class="text-center">Fiyat</th>
            <th style="display:table table-cell; vertical-align:middle;" class="text-center">Tarih</th>
            @*<th style="display:table table-cell; vertical-align:middle;" class="text-center">İşlemler</th>*@
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@item.Urun.UrunAdi</td>
        <td>@item.SatisHareketFiyati ₺</td>
        <td>@Convert.ToDateTime(item.SatisHareketTarihi).ToString("dd/mm/yyyy")</td>
        @*<td style="display:table table-cell; vertical-align:middle;" class="text-center">
            <a href="/CariPanel/SiparisGuncelle/@item.SatisHareketID" class="btn" style="background-color: darkorange; color: aliceblue;">Güncelle</a>
            <a href="/CariPanel/SiparisiPasifYap/@item.SatisHareketID" class="btn" style="background-color: firebrick; color: aliceblue;">Sil</a>
        </td>*@
    </tr>
        }
    </table>
    <a href="/CariPanel/Index" class="btn btn-info">Profilim</a>
    @*<a href="/CariPanel/SiparisEkle" class="btn btn-info">Sipariş Ekle</a>*@
}