@model MVC_Ticari_Otomasyon.Models.Siniflar.PersonelYetkisi
@{
    ViewBag.Title = "YetkiEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yetki Ekleme Sayfası</h2>
<br />

@using (Html.BeginForm("YetkiEkle", "PersonelYetkileri", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            Yetki Adı
            @Html.TextBoxFor(x => x.YetkiAdi, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.YetkiAdi, "", new { @style = "color:red" })
            <br />
        </div>  

    </div>

    <button class="btn btn-success" id="kayitBasarili">Kaydet</button>
    <a href="/PersonelYetkileri/YetkiListesi" class="btn btn-info" style="background-color:darkcyan; color:aliceblue;">Yetki Listesi</a>}

<script>
    $('#kayitBasarili').click(function () {
        alert("Ekleme İşlemi Başarılı Bir Şekilde Gerçekleşti");
    });</script>