
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KVK</title>
</head>
<body>
    <div> 
        <h2 style="display:table table-cell; vertical-align:middle;" class="text-center">KVKK - Aydınlatma Metni</h2>
        <div>
            <h1>6698 SAYILI KİŞİSEL VERİLERİN KORUNMASI KANUNU KAPSAMINDA HAZIRLANMIŞ AYDINLATMA METNİ</h1>
            <p>

                Veri Sorumlusu ... ŞİRKETİ olarak (Bundan sonra “Şirket” olarak anılacaktır.) kişisel verilerinizi, 6698 sayılı Kişisel Verilerin Korunması Kanunu (Bundan sonra “KVKK” olarak anılacaktır.) ve ilgili sair mevzuat kapsamında, veri sorumlusu sıfatı ile işlediğimizi tarafınıza bildiriyoruz.
            </p><p>
                Kişisel Verilerin Hangi Amaçla İşleneceği
                Kişisel verileriniz,
            </p><p>
                Şirketimiz tarafından sunulan ürün ve hizmetlerden sizleri faydalandırmak için gerekli çalışmaların iş birimlerimiz tarafından yapılması,
                Şirketimiz tarafından sunulan ürün ve hizmetlerin sizlere önerilmesi; ürün ve hizmetlerin satış ve pazarlaması için pazar araştırması faaliyetlerinin planlanması ve/veya icrası,
                Teklif alma uygunluğunu artırmak ve teklif hazırlama sürecinin yürütülmesi için sizinle iletişime geçilmesi,
                Satış sonrası destek hizmetlerinin planlanması ve yürütülmesi,
                İş Ortaklarının sizin ile irtibata geçmesinin sağlanması ve hizmetin online yürütülmesi için arayüz sunulması,
                İş ilişkisi içerisinde olan ilgili kişilerin hukuki, teknik ve ticari iş güvenliğinin temin edilmesi,
                Ürün ve hizmetlerimize dair kalite takibinin sağlanması ve tedarik edilen ürünlerin takibi,
                Finans ve/veya muhasebe işlerinin yürütülmesi,
                amaçlarıyla işlenecektir.
            </p><p>
                İşlenen Kişisel Verilerin Yurt içinde Kimlere ve Hangi Amaçla Aktarılabileceği
                Kişisel verileriniz, aşağıda belirtilen amaçlar ile yurt içinde KVKK’nın 8 (2) (a) maddesi uyarınca ilgili kişinin açık rızası aranmaksızın aktarılacaktır:
            </p><p>
                Şirketimizin aracılık yaptığı platform hizmeti açısından hizmeti esas ifa edecek olan veri sorumlusu iş ortaklarımız ile paylaşılacaktır.
                Şirketimiz tarafından sunulan ürün ve hizmetlerimiz hakkında bilgilendirme kapsamında basılı dokümanların gönderimi amacıyla, gönderim işlemini gerçekleştiren kargo servisi firmaya aktarılabilecek ve bu firma sizinle irtibata geçebilecektir.
                İlgili mevzuat uyarınca yasal yükümlülüklerin yerine getirebilmesi amacıyla, gerekmesi veya talep gelmesi halinde, ilgili kamu kurum ve kuruluşları ile paylaşılabilecektir.
                Ürün ve hizmetlere dair ücretlerin tahsilatı kapsamında finans ve/veya muhasebe işlerinin yürütülmesi amacıyla, gerekmesi halinde noter, icra daireleri ve/veya mahkemeler ile paylaşılabilecektir.
                Hukuki süreçlerin takip edilebilmesi amacıyla avukatlarımız ile sır saklama yükümlülüğü çerçevesinde gerektiği kadar paylaşılabilecektir.
                Kimlik ve iletişim kategorisindeki verileriniz; ürün ve hizmetlerin pazarlama süreçlerinin planlanması ve icrası ile tarafınıza reklam, kampanya ve tanıtım amaçlı bülten iletilmesi amacıyla açık rızanıza istinaden ... A.Ş ile paylaşılacaktır.
            </p><p>
                Yurtdışına Aktarım
                Açık rıza haricindeki diğer işleme şartlarından birine dayanarak işlenen kişisel verileriniz, Şirket’in ürün ve hizmetlerine dair satış ve satış sonrası sözleşmenin ifası için ilgili kişinin açık rızası temin edilmeksizin,
            </p><p>
                Kişisel Verileri Koruma Kurulu (Bundan sonra “Kurul” olarak anılacaktır.) tarafından yeterli korumaya sahip olduğu ilan edilen yabancı ülkelere (“Yeterli Korumaya Sahip Yabancı Ülke”)
                Türkiye’deki ve ilgili yabancı ülkedeki veri sorumlularının yeterli bir korumayı yazılı olarak taahhüt ettiği ve ilgili aktarım açısından Kurul’un izninin bulunması kaydıyla
                aktarılabilecektir.
            </p><p>
                Yukarıda açıklanan amaçlar kapsamında işlenen kişisel verilerinizin yurt dışına aktarımı, KVKK ve ilgili sair mevzuat başta olmak üzere, Kurul tarafından alınan kararlar ve ilgili düzenlemelere uygun olarak, Şirketimiz tarafından gerekli özen gösterilerek ve gerekli tüm güvenlik önlemler alınarak gerçekleştirilecektir.
            </p><p>
                Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi
                Kişisel verileriniz, KVKK’nın 5 (2) maddesinde yer alan hukuki sebeplerden;
            </p><p>
                “a) Kanunlarda açıkça öngörülmesi (5651 Sayılı Kanun)”,
                “b) Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, sözleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması”, (Platformdaki hizmetlerin verilmesi için)
                “c) Veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması”,
                Şirketimiz tarafından sunulan ürün ve hizmetlerin sizlere önerilmesi, ürün ve hizmetlerin satış ve pazarlamasının planlanması ve/veya icrası amacı bakımından açık rıza
                hukuki sebeplerine dayanarak,
            </p><p>
                Platform üzerinden üye olunması, iletişim formunun doldurulması, e-posta gönderilmesi, internet sitesinin ziyaret edilmesi ve sosyal medya platformları üzerinden irtibata geçilmesi,
                Müşteri ziyaretleri, seminer veya etkinlikler sırasında kartvizit paylaşımı yapılması,
                Ticari faaliyet amacıyla sizlerle iletişime geçmemizi öneren müşteri ve/veya potansiyel müşteri veya üçüncü kişilerce kişisel verilerinizin tarafımıza iletilmesi,
                suretiyle otomatik veya otomatik olmayan yöntemlerle sözlü, yazılı veya elektronik ortamda elde edilmektedir:
            </p><p>
                KVKK’nın 11. Maddesi Kapsamındaki Haklarınız
                KVKK’nın 11. maddesi kapsamında, ilgili kişi olarak haklarınız bulunmakta olup bu haklarınız ile ilgili taleplerinizi tercihen web sitemizde yer alan İlgili Kişi Başvuru Formu’nda belirtilen bütün bilgileri doldurmak suretiyle KVKK’nın 11. maddesi ile 13. maddesinin 1. fıkrası ve Veri Sorumlusuna Başvuru Usul ve Esasları Hakkında Tebliğ gereğince,
            </p><p>
                ... adresindeki Şirketimize bizzat gelerek,
                kimliğinizi tespit edebilmek ve yanlış kişilere bilgi vermemek adına yazılı olarak noter aracılığı ile veya iadeli taahhütlü mektup ile,
                (varsa) tarafınızca daha önce Şirketimize bildirilen ve sistemlerimizde kayıtlı bulunan elektronik posta adresini kullanmak suretiyle ... adresine elektronik posta göndererek
                veya gelecekte Kurul’un belirleyeceği diğer yöntemlerle iletebilirsiniz.
            </p><p>
                Değişiklik ve Güncellemeler
                İşbu aydınlatma metni, 6698 sayılı Kişisel Verilerin Korunması Kanunu ve ilgili sair mevzuat kapsamında hazırlanmıştır. İlgili yasal mevzuat ve/veya Şirket’in kişisel veri işleme amaç ve politikalarında meydana gelecek değişiklikler doğrultusunda bahse konu aydınlatma metninde gerekli değişiklikler yapılabilir.
            </p><p>
                Aydınlatma Metninin en güncel haline <a href="/Login/KVK"><b style="color:black">Aydınlatma Metni</b></a> adresinden ulaşılabilecektir.
            </p>
        </div>
    </div>
</body>
</html>
