<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Yeni Cari Kaydı</h3>
        <div class="login-agileits-top">
            <form action="#" method="post">
                <input type="text" class="name" name="CariAdi" Placeholder="Adınız" required="" />
                <input type="text" class="name" name="CariSoyadi" Placeholder="Soyadınız" required="" />
                <input type="text" class="name" name="CariSehir" Placeholder="Şehriniz" required="" />
                <input type="email" class="email" name="CariMaili" Placeholder="Mail Adresiniz" required="" />
                <input type="password" class="password" name="CariSifresi" Placeholder="Şifreniz" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları okudum <a href="/Login/KVK">&amp; Kabul ediyorum</a></label>
                </div>
                <input type="submit" value="Kaydı Tamamla">
            </form>
        </div>
    </div>
</div>
